:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

textarea#code-input {
  flex-grow: 1;
  resize: none;
  font-family: Consolas, "Courier New", monospace;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 2px 5px;
  overflow: auto;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  border: none;
}

#output {
  overflow-x: scroll;
}
