:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#code-container {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

textarea#code-input {
  flex-grow: 1;
  overflow: auto;
  resize: none;
  font-family: Consolas, "Courier New", monospace;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  padding: 2px 5px;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  border: none;
}

#code-messages {
  max-width: 50%;
  overflow-y: auto;
}

#code-messages .code-msg {
  padding: 2px 8px;
  margin: 4px;
  background-color: #444;
  color: #f44;
}

#output {
  flex-shrink: 0;
  max-height: 80vh;
  overflow: auto;
  border-top: 1px solid gray;
}
